<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AngularJS Routes example</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/static/angularapp/js/app.js"></script>
    </head>

<body ng-app="sampleapp">
    <a href="#/tracks">Tracks</a><br/>
    <a href="#/genres">Genres</a><br/>
    <div ng-view></div>
</body> 
</html>
